<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Trivial</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1 class="title">Players Room</h1>
    <div class="players-container"></div>
</body>
<script src="js/client.js"></script>
</html>