<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Trivial</title>
    <link rel="stylesheet" type="text/css" href="styles/lobby.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1 class="title">Players Room</h1>
    <div class="players-container"></div>
    <div id="setting">Setting</div>
    <div id="setting-lightbox">
        <form id="setting-form">
            <label id="game-mode-label" for="game-mode">Game Mode: </label>
            <select name="game-mode" id="game-mode">
                <option value="sudden-death">Sudden Death</option>
                <option value="points">Game Points</option>
            </select>
            <label>Time: </label>
            <select id="time">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10" selected>10</option>
            </select>
            <label id="lives-label">Lives:</label>
            <select id="lives">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label id="turns-label">Turns: </label>
            <input type="number" id="turns" value="5">
            <div class="form-btn">
                <div id="close-btn">Close</div>
                <input type="submit" value="Apply" id="apply-btn">
            </div>
            
        </form>
    </div>
</body>
<script src="js/lobby.js"></script>
</html>